<h1>Lists</h1>
<%= cl_image_tag("e2s5loeh0eyl2cg8pwxb", width: 400, height: 300, crop: :fill) %>
<%= cl_image_tag("cj0irsgicjgkjnmo7wgi", width: 150, height: 150, crop: :thumb, gravity: :face) %>
<ul>
  <% @lists.each do |list|%>
    <li>
      <%= link_to "#{list.name}", list_path(list.id)%>

    </li>
  <% end %>

</ul>
<br>
  <%= link_to "Add new List", new_list_path, class: "btn btn-primary" %>
