<h1> <%=@movie.title%> </h1>
<div class="card">
<%# <img src="#{@movies.}" alt="Girl in a jacket" width="500" height="600"> %>
<h4>Information: <%=@movie.overview%> </h4>
<h4> Rating <%=@restaurant.phone_number%> </h4>
<h4> Category <%=@restaurant.category%> </h4>

</div>
<br>
